page {
	height: 100%;
	width: 100%;
}

.ovHide {
	overflow: hidden;
}

.user-box {
	background: url("../../static/bg.jpg") 50% bottom no-repeat #193977;
	background-size: cover;
	position: relative;
	min-height: 100%;
}

.bg2 {
	background-image: url("../../static/bg2.jpg");
}

.sign-main {
	padding: 20upx;
	height: 90%;
}

#Logo {
	width: 70%;
	display: block;
	margin: 50upx auto;
}

.send-box {
	z-index: 3;
	height: 100%;
}

.sigin-form {
	/* background: url(../../static/water.png) 50% 50% no-repeat;
		background-size: contain; */
	height: 90%;
	position: relative;
}

.water {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.water-anim {
	animation-name: water-show;
	animation-duration: 6s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes water-show {
	from {
		opacity: 0.3;
	}

	to {
		opacity: 1;
	}
}

.sigin-block {
	width: 80%;
	padding: 68% 10% 0;
	position: relative;
	z-index: 2;
}

.sigin-info {
	text-align: center;
	color: #173171;
	font-size: 38upx;
}

.sigin-info-succ {
	font-size: 40upx;
	padding-top: 10upx;
	animation-name: sigin-succ;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes sigin-succ {
	from {
		transform: scale(0.2)
	}

	to {
		transform: scale(1)
	}
}

.sign-ipt {
	width: 70%;
	padding: 0 15%;
}

.sign {
	background: #FFFFFF;
	line-height: 1.4;
	font-size: 38upx;
	border: 1upx solid #CCCCCC;
	padding: 5upx 10upx;
	color: #173171;
	text-align: center;
}

.sendMsg {
	font-size: 32upx;
	background: #1E3070;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	line-height: 1.4;
	padding: 15upx;
	margin: 10upx auto;
}

.user-bubble {
	position: absolute;
	width: 100%;
	bottom: 10%;
	opacity: 0;
	z-index: 1;
	animation-name: fadeUpOut;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	/* forwards; */
}

@keyframes fadeUpOut {
	0% {
		bottom: 50%;
		opacity: 1;
	}

	5% {
		opacity: 0.5;
	}

	10% {
		opacity: 0.8;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		bottom: 120%;
	}
}

.uname {
	color: #DB9824;
	font-size: 50upx;
	line-height: 1;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
	align-items: center;

	animation-name: flash;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes flash {
	from {
		text-shadow: 0 0 5px #CBB281,
			0 0 10px #CBB281,
			0 0 35px #DB9824,
			0 0 40px #DB9824;
	}

	to {
		text-shadow: 0 0 10px #CBB281,
			0 0 20px #CBB281,
			0 0 40px #DB9824,
			0 0 70px #DB9824;
	}
}

.swiper-box {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	z-index: 5;
}

uni-swiper-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.shake-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 20upx 0;
}

.shake-img {
	width: 100upx;
	height: auto;
}

.shake-info {
	color: #FFFFFF;
	font-size: 32upx;
	line-height: 2;
	padding: 20upx 0;
}

.taiji-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	border-radius: 50%;
	box-shadow: 0 0 100upx 30upx #224386;
}

.taiji-box-1 {
	box-shadow: 0 0 20upx 5upx #FFFFFF, 0 0 100upx 30upx #224386;
}

.taiji-box-2 {
	box-shadow: 0 0 30upx 8upx #FFFFFF, 0 0 100upx 30upx #224386;
}

.taiji-box-3 {
	box-shadow: 0 0 40upx 10upx #FFFFFF, 0 0 100upx 30upx #224386;
}

.taiji-box-4 {
	box-shadow: 0 0 50upx 12upx #FFFFFF, 0 0 100upx 30upx #224386;
}

.taiji-box-5 {
	box-shadow: 0 0 60upx 14upx #FFFFFF, 0 0 100upx 30upx #224386;
}

.taiji-box-6 {
	box-shadow: 0 0 70upx 16upx #FFFFFF, 0 0 100upx 30upx #224386;
}

.taiji-box-7 {
	box-shadow: 0 0 80upx 18upx #FFFFFF, 0 0 100upx 30upx #224386;
	animation-name: taiji-shine;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes taiji-shine {
	from {
		box-shadow: 0 0 80upx 18upx #FFFFFF;
	}

	to {
		box-shadow: 0 0 100upx 30upx #224386;
	}
}

.spot-box {
	position: absolute;
	z-index: 11;
	height: 120%;
	width: 120%;
	/* background: rgba(0, 0, 0, .2); */
	border-radius: 50%;
	left: -10%;
	top: -10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.spot-val {
	color: #FFFFFF;
	font-size: 32upx;
	/* margin-left: 45%; */
}

.spot {
	width: 8%;
	height: 8%;
	margin: 0 10upx 0 45%;
	animation-name: spot-shine;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.taiji {
	height: 100%;
	position: absolute;
	top: 0;
	animation-name: rotate-left;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.taiji-img {
	height: 100%;
	position: relative;
}

.taiji-left {
	left: 0;
}

.taiji-right {
	top: auto;
	right: 0;
	animation-name: rotate-right;
}

.taiji-img-left {
	left: -1.5%;
	top: -1.5%;
}

.taiji-img-right {
	right: -1.5%;
	top: 1.5%;
}

@keyframes spot-shine {
	from {
		transform: none
	}

	to {
		transform: scale(2)
	}
}

@keyframes rotate-left {
	0% {
		left: -1%;
		top: -2%;
		opacity: 1;
	}

	50% {
		left: -50%;
		top: -50%;
		opacity: 0.5;
	}

	100% {
		left: -100%;
		top: -100%;
		opacity: 0;
	}
}

@keyframes rotate-right {
	0% {
		right: -1%;
		bottom: -2%;
		opacity: 1;
	}

	50% {
		right: -50%;
		bottom: -50%;
		opacity: 0.5;
	}

	100% {
		right: -100%;
		bottom: -100%;
		opacity: 0;
	}
}

.danmu-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;
	padding: 50upx 5% 0;
}

.danmu-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	padding-bottom: 50upx;
}

.row-helf {
	width: 45%;
}

.danmu-title {
	color: #FFFFFF;
	font-size: 32upx;
	line-height: 1.8;
}

.danmu-ipt {
	line-height: 2;
	font-size: 32upx;
	background: #d1d6e3;
	padding: 18upx 10upx;
}

.danmu-area {
	width: auto;
	min-height: 300upx;
	line-height: 1.4;
	color: #1B2556;
}

.danmu-btn {
	background: #3659B3;
	width: 100%;
	padding: 20upx 0;
}

#AssistComming {
	display: block;
	width: 70%;
	margin: 45% auto 0;
}

.blessingOn {
	font-size: 36upx;
	text-align: center;
	position: relative;
	color: #FFFFFF;
	line-height: 2;
	padding: 0 60upx;
	margin: 45% auto 0;
	text-shadow: 5upx 5upx 5upx #0E2253;
	transform: scale(1.2)
}

.blessingOn:before,
.blessingOn:after {
	content: "—";
	color: inherit;
	font-size: inherit;
	position: absolute;
	top: 45%;
	left: 0;
	line-height: 0;
}

.blessingOn:after {
	left: auto;
	right: 0;
}
