.circleProgress_wrapper {
	width: 500upx;
	height: 500upx;
	margin: 180upx auto 50upx;
	position: relative;
}


.pro-img {
	width: 460upx;
	height: 460upx;
	position: absolute;
	top: 20upx;
	left: 20upx;
	border-radius: 50%;
	overflow: hidden;
	background-image: linear-gradient(#B0BAD2, #8C99B9);
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.new-pro {
	background-image: none;
}

.pImg {
	width: 80%;
	height: 80%;
}

.wrapper {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}

.right {
	right: 0;
}

.left {
	left: 0;
}

.circleProgress {
	width: 460upx;
	height: 460upx;
	border: 20upx solid #111750;
	border-radius: 50%;
	position: absolute;
	top: 0;
	transform: rotate(-135deg);
	/* 45deg */
}

.rightcircle {
	border-top: 20upx solid #E1C699;
	border-right: 20upx solid #E1C699;
	right: 2upx;
	/* -webkit-animation: circleProgressLoad_right 5s linear infinite; */
}

.leftcircle {
	border-bottom: 20upx solid #E1C699;
	border-left: 20upx solid #E1C699;
	left: 2upx;
	/* -webkit-animation: circleProgressLoad_left 5s linear infinite; */
}

@-webkit-keyframes circleProgressLoad_right {
	0% {
		-webkit-transform: rotate(45deg);
	}

	50%,
	100% {
		-webkit-transform: rotate(225deg);
	}
}

@-webkit-keyframes circleProgressLoad_left {
	0% {
		-webkit-transform: rotate(45deg);
	}

	50%,
	100% {
		-webkit-transform: rotate(225deg);
	}
}
